/** START -- CONTACT PAGE **/
#contact .form-control {
    margin-bottom: 10px;
}

input, textarea, label {
    width: 905px;
    display: block;

}

input, textarea {
    border: 1px solid #c3c3c3;
    padding: 5px;
}

input:focus, textarea:focus {
    box-shadow: 0 0 5px #4aaaa5;
    border: 1px solid #4aaaa5;
}

button {
    font-size: 15px;
    color: #ffffff;
    background-color: #4aaaa5;
    padding:7px 20px;
    border: none;
}

button:hover {
    background-color: #205E5B;
    cursor: pointer;
}
/** END-- CONTACT PAGE **/