body{
    margin:0;
    padding:0;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', 'sans-serif';
    background: url("../images/dust_scratches.png") repeat;
}

h1, h2, h3, h4, h5, h6 {
    color: #4aaaa5;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}

a, a:visited{
    color: #777777;
    text-decoration: none;
}

a:hover, a:active, a.active{
    color: #4aaaa5;
}

.container{
    width: 960px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear:both;
    display: block;
}

hr {
    border: 1px solid #cccccc;
    margin: 0 0 20px 0;
}


/** START -- HEADER **/
header {
    margin-top:0;
    background-color:#ffffff;
    border-bottom: 2px solid #cccccc;
    width:100%;
}

header h1 {
    margin:0;
    padding:20px;
    background-color: #4aaaa5;
    color:#ffffff;
    float: left;
}

header nav {
    float:right;
    margin-top:15px;

}

header nav ul li{
    position: relative;
    display: inline-block;
    margin: 0 0 0 10px;
    padding:0;
}
/** END -- HEADER **/

/** START -- MAIN CONTENT **/
#main-content{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    width:918px;
    margin-top: 20px;
    padding:20px;

}

#main-content h2{
    margin: 0 0 20px 0;
}
/** END -- MAIN CONTENT **/



/** START -- FOOTER **/
footer {
    background-color: #666666;
    height: 50px;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 8px solid #4aaaa5;

}

footer p {
    position: absolute;
    bottom:0;
    left:0;
    right: 0;
    color: #a5a5a5;
    font-size: 11px;
}
/** START -- FOOTER **/






